<div class="row">
  <!-- ソース動画領域 -->
  <mat-card>
    <mat-card-header>
      <mat-card-title> ソース動画 </mat-card-title>
      <mat-card-subtitle
        >ポーズを抽出したい動画ファイルを選択してください<br />
        この処理はローカルで行われ、サーバには送信されません</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content style="padding: 0.5rem 1rem 1rem 1rem">
      <button
        mat-raised-button
        color="primary"
        (click)="fileChooser.click()"
        [disabled]="state === 'processing'"
      >
        <mat-icon>upload</mat-icon>
        動画ファイルを選択
      </button>
      <input
        #fileChooser
        type="file"
        style="display: none"
        (change)="onChooseSourceVideoFile($event)"
        accept=".mp4"
      />
      <small *ngIf="sourceVideoFileName !== undefined">
        &nbsp;&nbsp;
        {{ sourceVideoFileName }}
      </small>
    </mat-card-content>
  </mat-card>
  <!---->

  <mat-card>
    <!-- 検出結果領域 -->
    <mat-card-header>
      <mat-card-title>
        <!-- 検出状態 -->
        <ng-container *ngIf="state === 'initial' || state === 'completed'">
          検出結果
        </ng-container>

        <ng-container *ngIf="state === 'processing'">
          検出中...

          <!-- 進捗 -->
          <ng-container *ngIf="sourceVideo && 0 < sourceVideo.duration">
            {{
              mathFloor((sourceVideo.currentTime / sourceVideo.duration) * 100)
            }}%
          </ng-container>
          <!---->
        </ng-container>

        <!---->
      </mat-card-title>
      <mat-card-subtitle>
        <!-- ポーズ数 -->
        ポーズ数:
        <ng-container *ngIf="state === 'initial'">-</ng-container>
        <ng-container *ngIf="state === 'processing' || state === 'completed'">
          {{ poseSet?.getNumberOfPoses() }}
        </ng-container>
        <!---->
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <!-- 保存ボタン -->
      <button
        mat-button
        color="primary"
        matTooltip="ポーズおよびフレーム画像を ZIP ファイルとして保存します"
        (click)="downloadPosesAsZip()"
        [disabled]="state !== 'completed'"
      >
        <mat-icon>download</mat-icon>
        保存
      </button>
      &nbsp;&nbsp;
      <button
        mat-button
        matTooltip="ポーズのみを JSON ファイルとして保存します"
        (click)="downloadPosesAsJson()"
        [disabled]="state !== 'completed'"
      >
        <mat-icon>download</mat-icon>
        ポーズのみ保存
      </button>
      <!---->
    </mat-card-actions>
  </mat-card>
  <!---->
</div>

<div class="row">
  <!-- プレビュー領域 -->
  <mat-card
    class="preview"
    [style.visibility]="state === 'initial' ? 'hidden' : 'visible'"
  >
    <mat-card-header>
      <mat-card-title> プレビュー </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="preview-video-container">
        <p class="label">ソース動画</p>
        <video
          #sourceVideo
          class="preview-video"
          [src]="sourceVideoUrl"
          autoplay
          muted
          (ended)="onSourceVideoEnded($event)"
        ></video>
      </div>
      <div class="preview-video-container" *ngIf="posePreviewMediaStream">
        <p class="label">全体の検出結果</p>
        <video
          #posePreviewVideo
          class="preview-video"
          [srcObject]="posePreviewMediaStream"
          autoplay
          muted
        ></video>
      </div>
      <div class="preview-video-container" *ngIf="handPreviewMediaStream">
        <p class="label">手の検出結果</p>
        <video
          #handPreviewVideo
          class="preview-video"
          [srcObject]="handPreviewMediaStream"
          autoplay
          muted
        ></video>
      </div>
    </mat-card-content>
  </mat-card>
  <!---->
</div>

<div class="row">
  <!-- 検出されたポーズ領域 -->
  <mat-card
    class="preview"
    *ngIf="state === 'processing' || state === 'completed'"
  >
    <mat-card-header>
      <mat-card-title> プレビュー </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
        class="preview-video-container"
        *ngFor="let poseSetItem of poseSet?.getPoses()?.slice()?.reverse()"
      >
        <p class="label">{{ poseSetItem.timeMiliseconds }}</p>
        <img class="preview-video" [src]="poseSetItem.frameImageDataUrl" />
      </div>
    </mat-card-content>
  </mat-card>
  <!---->
</div>
