:host {
  display: block;
  padding: 2rem 2rem;
}

.row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

mat-card {
  width: 48%;
}

// プレビュー領域

mat-card.preview {
  width: 100%;

  mat-card-content {
    padding: 2% 3%;
  }

  .preview-video-container {
    display: inline-block;
    margin-right: 1rem;
    position: relative;

    .label {
      background: #ddddddfa;
      border-bottom-right-radius: 6px;
      font-size: 0.8rem;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0.5rem 0.7rem 0.5rem 0.5rem;
    }

    .preview-video {
      max-height: 50vh;
    }
  }
}
